<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>MMORPG - Game of Thrones</title>

    <!-- JQuery -->
    <script src="js/jquery-2.2.1.js"></script>

    <!-- Bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Incluindo CSS -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="body-index">
    <nav class="navbar navbar-default navbar-static-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Game of Thrones MMORPG</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-custom navbar-btn" onclick="location.href='/'">Voltar</button>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <% if(validacao.length > 0) { %>
            <div class="alert alert-danger">
                <strong>Atenção!</strong>
                <ul>
                    <% for(var i = 0; i < validacao.length; i++) { %>
                        <li><%= validacao[i].msg %></li>
                    <% } %>
                </ul>
            </div>
        <% } %>

        <form class="form-cadastro" action="/cadastrar" method="POST">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nome" class="control-label">Nome</label>
                        <input type="text" value="<%= dadosForm.nome %>" class="form-control" id="nome" name="nome" placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="usuario" class="control-label">Usuário</label>
                        <input type="text" value="<%= dadosForm.usuario %>" class="form-control" id="usuario" name="usuario" placeholder="Usuário">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="senha" class="control-label">Senha</label>
                        <input type="password" value="<%= dadosForm.senha %>" class="form-control" id="senha" name="senha" placeholder="Senha">
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="thumbnail">
                        <img src="images/casa_arryn.jpg" class="img-responsive">
                        <div class="caption">
                            <label>
                                <input type="radio" name="casa" value="arryn"> Casa Arryn
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="thumbnail">
                        <img src="images/casa_baratheon.jpg" class="img-responsive">
                        <div class="caption">
                            <label>
                                <input type="radio" name="casa" value="baratheon"> Casa Baratheon
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="thumbnail">
                        <img src="images/casa_greyjoy.jpg" class="img-responsive">
                        <div class="caption">
                            <label>
                                <input type="radio" name="casa" value="greyjoy"> Casa Greyjoy
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="thumbnail">
                        <img src="images/casa_lannister.jpg" class="img-responsive">
                        <div class="caption">
                            <label>
                                <input type="radio" name="casa" value="lannister"> Casa Lannister
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="thumbnail">
                        <img src="images/casa_martell.jpg" class="img-responsive">
                        <div class="caption">
                            <label>
                                <input type="radio" name="casa" value="martell"> Casa Martell
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="thumbnail">
                        <img src="images/casa_stark.jpg" class="img-responsive">
                        <div class="caption">
                            <label>
                                <input type="radio" name="casa" value="stark"> Casa Stark
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-6 col-sm-4 col-md-2 col-md-offset-3">
                    <div class="thumbnail">
                        <img src="images/casa_targaryen.jpg" class="img-responsive">
                        <div class="caption">
                            <label>
                                <input type="radio" name="casa" value="targaryen"> Casa Targaryen
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="images/casa_tully.jpg" class="img-responsive">
                        <div class="caption">
                            <label>
                                <input type="radio" name="casa" value="tully"> Casa Tully
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="images/casa_tyrell.jpg" class="img-responsive">
                        <div class="caption">
                            <label>
                                <input type="radio" name="casa" value="tyrell"> Casa Tyrell
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row text-center">
                <button type="submit" class="btn btn-primary btn-lg">Confirmar cadastro</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap JS (Opcional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRiPp+ONW4/HkGjzUxHc1OgzPFTkq0x04TuLp6Q8K" crossorigin="anonymous"></script>
</body>
</html>
