<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>
		<% for(var i = 0; i < acoes.length; i++) { %>
			<%
				var acao = acoes[i].acao;
				var acaoTexto;
				
				switch (acao) {
					case '1':
						acaoTexto = 'aldeão(ões) coletando recursos';
						break;
					case '2':
						acaoTexto = 'enforcamento(s) programado';
						break;
					case '3':
						acaoTexto = 'aldeão(ões) em treinamento de História';
						break;
					case '4':
						acaoTexto = 'aldeão(ões) em treinamento de Magia';
						break;
					default:
						acaoTexto = 'ação desconhecida (' + acao + ')';
				}

				// Calcular horas restantes
				var agora = new Date();
				var terminaEm = new Date(acoes[i].acao_termina_em);
				var diferencaEmMilissegundos = terminaEm - agora;
				var segundosRestantes = Math.floor(diferencaEmMilissegundos / (1000));
			%>
			<li><%= acoes[i].quantidade %> <%= acaoTexto %> 
					- <small> restam <span class="tempo_restante"><%= segundosRestantes %></span> Segundos 
					- <a href="/revogar_acao?id_acao=<%=acoes[i]._id%>">revogar ordem</a></small>
		<% } %>
	</ul>
</div>
